<launch>
	<master auto="start"/>
 
    <include file="$(find interbotix_sdk)/launch/arm_run.launch">
        <arg name="robot_name" value="rx150"/>
        <arg name="use_time_based_profile" value="true"/>
        <arg name="gripper_operating_mode" value="pwm"/>
    </include>
	
    <include file="$(find perception)/launch/camera.launch"/>
 	
	<include file="$(find core)/launch/tf_broadcaster.launch"/>
   
    <node pkg="core" type="tf_lookup.py" name="point_transformer_node"/>

	<include file="$(find perception)/launch/perception.launch"/>
   
    <node pkg="robot_arm" type="pick_and_place.py" name="robot_move_node"/>
    
    <node pkg="rosserial_python" type="serial_node.py" name="arduino_bridge">
        <param name="port" value="/dev/ttyACM1"/>
        <param name="_baud" value="57600"/>
    </node>    
</launch>
