<launch>
	<include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
		<arg name="align_depth" value="true"/>
    </include> 
    <param name="robot_description" command="$(find xacro)/xacro '$(find realsense2_description)/urdf/test_d435_camera.urdf.xacro' use_nominal_extrinsics:=false add_plug:=false"/>

</launch>
