<launch>
	<!--<node pkg="perception" type="blob_detector" name="BlobDetectionNode"/>-->
    <node pkg="perception" type="deproject_pixel_to_point" name="PixelToPointNode">
		<param name="camera_height" type="double" value="0.22225"/>
	</node>
    <node pkg="perception" type="nn_detector.py" name="nn_detector">
		<param name="labelsPath" type="string" value="$(find perception)/yolov3/yolo.names"/>
		<param name="weightsPath" type="string" value="$(find perception)/yolov3/yolov3_custom_colab_tiny_final.weights"/>
		<param name="configPath" type="string" value="$(find perception)/yolov3/yolov3_custom_colab_tiny.cfg"/>
	</node>
</launch>
